<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/dan.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>DAN PORTFOLIO</title>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6" id="box-1">
                <div >
                    <h2>Skills</h2>
                    <p>These are some of my skills</p>
                    <ol>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JAVASCRIPT</li>

                    </ol>
                </div>

                <div >
                    <h2>Projects</h2>
                    <p>Pojects accomplished</p>
                    <ul>
                        <li>Desiged a web site for babysitting using html,css and nodejs</li>
                        <li>I designed an app that were connecting event planners with vendors</li>
                        <li>Currently  running a project of single mothers</li>
                    </ul>
                </div>

                <div class="conctact">
                    <h2>Contacts</h2>
                    <div class="row" id="icons">
                        <div class="col-4"><a href="https://www.facebook.com/" class="fa fa-facebook"></a></div>
                        <div class="col-4"><a href="https://www.google.com/" class="fa fa-google"></a></div>
                        <div class="col-4"> <a href="https://www.linkedin.com/feed/" class="fa fa-linkedin"></a></div>

                    </div>
                </div>

            </div>


            <div class="col-6" id="box-2">
                <img src="/images/dan-images/5.jpg">
                <div id="box3">
                    <h2 id="h2">Hey, I am DANIEL KALIBWA</h2>
                    <P id="p"> A web developer</P>
                </div>
            </div>

        </div>
    </div>
</body>
</html> 
