<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/marystyle.css">
    <!-- <link rel="stylesheet" href="../styles/style.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Mary's Portfolio</title>
</head>

<body>
    <button class="back-button" onclick="window.history.go(-1)">Back</button>

    <section class="marywrapper">

        <div class="marysidebar maryimg-card">
            <div class="marycard-heading">
                <h1>MY PORTFOLIO</h1>
            </div>

            <!-- <div class="card-image"> -->
                <img src="../images/artpic1.jpeg" alt="face of a woman">
            <!-- </div> -->

            <div class="maryimg-descript">
                <h3>NAKANJAKO MARY</h3>
                <h3>Mary a highly rated web designer with a high level experience
                    in htm, css, and javascript.
                </h3>                
            </div>

        </div>

        <div class="maryskills marytext-card">
            <div class="marycard-heading">
                <h1>SKILLS</h1>
            </div>

            <div class="marycard-content">
                <h3>Highly skilled in the use of computers and the internet including
                    microsoft office, Internet searches and troubleshooting computer software and hardware.
                </h3>
                <h3>Expert knowledge in web design using HTML, CSS and Javascript 
                    together with bootstrap</h3>
                <h3>Creative singing skills</h3>
                <h3>The art of Worship</h3>
            </div>            
            

        </div>

        <div class="maryprojects marytext-card">
            <div class="marycard-heading">
                <h1>PROJECTS</h1>
            </div>
            
            <div class="marycard-content">
                <h3>I have worked an completed a number of projects including these:</h3>
                <p></p>

                <h3>A blog on disability inclusion</h3>
                <a href="https://medium.com/@marynakanjako/disability-is-not-the-right-word-to-refer-to-them-1e027441410d">
                    <img border="0" alt="Disability inclusion" src="../images/handicap.jpg">
                </a>

                <h3>A journal on Software Engineering</h3>

                <a href="https://medium.com/@marynakanjako/my-journey-through-software-engineering-944eaf186050">
                    <img alt="Source code on a PC" src="../images/codepic.jpeg">
                </a>
            </div>            
            
        </div>

        <div class="marycontacts text-card">
            <div class="marycard-heading">
                <h1>CONTACTS</h1>
            </div>

            <div class="marycard-content">
                <h3>You can always get me here</h3>
                <h3>+256-782-158076</h3>
                <a href="https://www.facebook.com/profile.php?id=100005597236234" class="fa fa-facebook" target="blank"></a>
                <a href="https://mobile.twitter.com/home" class="fa fa-twitter" target="blank"></a>
                <a href="https://www.linkedin.com/in/mary-nakanjako-6bb794127/" class="fa fa-linkedin" target="blank"></a>
                
            </div>
            
        </div>

        
    </section>
</body>
</html>

