<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Molly's Portifolio</title>
    <link rel="stylesheet" href="../styles/molly.css">
</head>

<body>

    <header>
        <div class=" header">
            <h1>MOLLY NAKAZIBWE</h1>
            <h4>UI Designer and web developer</h4>
        </div>

    </header>
    <section>
        <nav>
            <img src="../images/mollyimages/001.JPG" alt="my first Image." width="100%"
                height="50%">
            <div class="img-zoom-container"></div>
            <div class="Aboutme-text">
                <h1>About molly</h1>
                <p>Molly nakazibwemolly is a female Ugandan, graduate with a bachelors degree in Information systems,
                    <p>she is a co founder of excavate Technologies and a communicationa and public relations at reach
                        your goal africa.</p>
                    <p>molly started pursuing her career in software development in the year 2019 with Andela women in
                        Tech program and she is curently with out box EDU prep program.
                        <p>she a youth leader and a community social trainer and an advocate for positive change </p>
                        <br>
                        <h2>Interest</h2>
                        <p>
                            <ul>
                                <li>Technologies and science</li>
                                <li>Traveling</li>
                                <li>Reading tech Articles </li>
                            </ul>
                        </p>

            </div>
        </nav>

        <article>
            <h1>SKILLS</h1>
            <P>Problem solving skills</P>
            <P>Excellent proficiency in Microsoft Office</P>
            <P>Good online marketing development and visibility</P>
            <P>Interpersonal and leadership skills, Results</P>
            <P>Web designing</P><br>

            <h1>MOLLY PROJECTS</h1>
            <p>Science ordinarly learning platform(SOELP)</p>
            <p>Reach your goal Africa WASH project</P>
<div= class="my trainings">
            <h1>TRAININGS AND CONFEENCES</h1>
            <h5>Sept to December 2019 </h5>
            <p> African Change makers fellowship Cohort 3 2019</p>
            <h5>(July 16TH TO 22ND JULY 2019</h5>
            <p>Certificate of participation and training in Entrepreneurship for youths during International Youth
                Diplomacy Conference (IYDC) university of Ghana accra-2019</p>
            <h5>9th to 21st June 2019</h5>
            <p>Network monitoring and management during AFNOG workshop for Internetworking Technology during the Africa
                Internet Summit (AIS’19)</p>
            <h5>(FEB to June 2018 )</h5>
            <p>Women Empowerment and training in Software development at ANDELA Learning Centre –Uganda (Women in tech
                program)</p>
            <h5>(2018 MAR TO OCT 2018)</h5>
            <p>Certificate of Completion in research and innovation for social development and leadership sub research
                for (SOLEP) at (Digital Opportunity Trust/ Youth Equality Centre). </p>
            </div>

        </article>
    </section>
</body>
<footer>
    <p>MOLLY <br>WEB DEVELOPER</p>


    <h3>
        Social Media Icons
    </h3>
    <div class='widget-content'>
        <ul>
            <a href='https://medium.com/@nakazibwemolly'>Mediumblog</a>
            <a href=https://twitter.com/KazibweMolly>Twitwer</a>
            <a href='#'>youtube</a>
            <a href='#'>facebook</a>
            <p>Tel: +256778445015</p>
        </ul>
    </div>
</footer>