<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="reagan.css">
</head>
<body>
    <div>
        <div class="topnav">
<header>ssenabulya reagan</header>
<h1>my portifolio</h1></div>

    <div class="container">
        
            <div class="team1">
                <head><b>SKILLS<b></head>
                <ul>
                    <li>sports</li>
                   <li> Accounting</li>
                   <li>making friends</li> 
                    

                </ul>
                <head><b>PROJECTS<b></head>
                
                    <ul>
                        <li>CPA certified</li>
                        <li>Taxation</li>
                        <li>Edu prep(yet to be completed)</li>

                    <head><b>CONTACTS<b></head>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. R
                        em numquam ea om
                        nis laboriosam aperiam veritatis delectus harum. Iste rem deleniti cumque quibu
                        s
                    </p>

                        
            </div>
        
    
    
        <div class="team2">
            <img src="../images/senaboy.jpg">
            <head>ssenabulya reagan</head>
            <h1>web developer<br>
            product of outbox</h1>
        </div>

</div>
</body>
</html>
