<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/reagan.css">
</head>

<body>
    <button class="back-button" onclick="window.history.go(-1)">Back</button>
        <div class="topnav">
            <header >ssenabulya reagan</header>
            <h1>my portifolio</h1>
        </div>

        <div class="container">

            <div class="team1">
                <h2><b>SKILLS<b></h2>
                <ul class="ul1">
                    <li>sports</li>
                    <li> Accounting</li>
                    <li>making friends</li>


                </ul>
                <h2><b>PROJECTS<b></h2>

                <ul class="ul2">
                    <li>CPA certified</li>
                    <li>Taxation</li>
                    <li>Edu prep(yet to be completed)</li>

                    <h2><b>CONTACTS<b></h2>

                    <div class=media>
                        <ul>

                            <li>
                                <h3>Facebook</h3>
                            </li>
                            <li>
                                <h3>Instagram</h3>
                            </li>
                            <li>
                                <h3>Twitter</h3>
                            </li>


                        </ul>

                    </div>

            </div>



            <div class="team2">

                <img id="imagex" src="../images//" alt="">

                <h1>ssenabulya reagan</h1>
                <h2>web develope</h2>
                <h3> Product of outbox</h3>
            </div>

        </div>


</body>

</html>