

  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    scroll-padding: 0;
    /* background-color:rgb(6, 124, 153); */
  }

  header {
    background-color:maroon;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color:black;
  }
  
  section {
    display: -webkit-flex;
    display: flex;
  }
  

  nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 15 px;
    width: 13%;
    background-color:white ;
    border: 10px;
    text-overflow: inherit;
    

  }

  article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    padding: 50px;            
  }
  article {
text-align:inherit ;
padding-left: 20%;
padding-top: 0%;
font-size: x-large;
font-weight: 300px;
font-family: Arial, Helvetica, sans-serif;
color:black;
  }
  .Aboutme-text {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 200px;
    padding-right: 40px;
    padding-left: 20px;


  }

  footer {
    background-color:rgb(117, 39, 3);
    padding: 10px;
    text-align: center;
    color:black;
  }
 